
.header{
    margin-top: 60px;
}

.headerTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: orangered;
   
}

.span1{
    position: absolute;
    top: 19%;
    font-size: 30px;
}
.span2{
    position: absolute;
    top: 23%;
    font-size: 80px;
}

.headerImage{
    width: 100%;
    margin-top: 60px;
    height: 450px;
    object-fit: cover;
}
