.post{
    width: 385px;
    margin: 0 25px 40px 25px ;
}
.postimg{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
}
.postinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.postcats{
    font-family: 'Varela Round', sans-serif;
    font-size: 11px;
    line-height: 20px;
    color: #be9656;
    margin-top: 15px;
    margin-right: 20px;
    cursor: pointer;
}
.postTitle{
    margin: 15px;
    cursor: pointer;
}

.postHours{
    color: #999;
}

.postDesc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}