.sidebar{
    flex: 3;
    margin: 20px;
   padding-bottom: 30px;
   background-color: #fdfdfd;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   height: fit-content;
}
.two{
    width: 300px;
    height: 300px;
    margin: 20px;
}



.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listItems{
    list-style: none;
    margin-bottom: 30px;
    width: 70%;
    
}
.sidebarListItem{
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}
.sidebarTitle{
    width: 80%;
    margin: 10px;
    padding: 5px;
    border-top: 1px solid #a7a4a7;
    border-bottom: 1px solid #a7a4a7;
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #222;
    font-weight: 600;
    line-height: 20px;
    text-align: center;

}
.sidebarItem > p {
    
    
    padding: 20px;
    margin: 5px;
}